<app-header></app-header>
<section class="advertisment marginTop">
    <div class="container">
        <div class="row" style="align-items: center;">
            <div class="col-sm-6">
                <div class="advertisLeft wow fadeInLeft"  data-wow-delay="0.10s">
                    <h2 class="first">Grow your business <br>
                        with us.</h2>
                    <p class="para">Loreum Ipsum Loreum IpsumLoreum Ipsum Loreum IpsumLoreum IpsumLoreum Ipsum Loreum
                        Ipsum Loreum
                        IpsumLoreum Ipsum Loreum IpsumLoreum IpsumLoreum Ipsum</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="adverstmentRight wow fadeInRight"  data-wow-delay="0.10s">
                    <img src="assets/imgs/grow.svg" alt="grow">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="withyou">

    <div class="container">
        <h2 class="second wow fadeInDown"  data-wow-delay="0.10s">Why advertise with us</h2>
        <div class="row">
            <div class="col-sm-5">
                <div class="withPhone wow fadeInLeft"  data-wow-delay="0.8s">
                    <img src="assets/imgs/phone5.svg" alt="phone">
                </div>
            </div>
            <div class="col-sm-7">
                <div class="withRight">
                    <div class="withbox">
                        <h2 class="wow fadeInDown"  data-wow-delay="0.10s">High-quality placements</h2>
                        <p class="wow fadeInDown"  data-wow-delay="0.9s">Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Aenean euismod bibendum laoreet. </p>
                    </div>
                    <div class="withbox">
                        <h2 class="wow fadeInDown"  data-wow-delay="0.10s">Flexible ad creatives</h2>
                        <p class="wow fadeInDown"  data-wow-delay="0.9s">Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Aenean euismod bibendum laoreet. </p>
                    </div>
                    <div class="withbox">
                        <h2 class="wow fadeInDown"  data-wow-delay="0.10s">Reach the wide community</h2>
                        <p class="wow fadeInDown"  data-wow-delay="0.9s">Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Aenean euismod bibendum laoreet. </p>
                    </div>
                    <div class="withbox">
                        <h2 class="wow fadeInDown"  data-wow-delay="0.10s">Loreum Ipsum</h2>
                        <p class="wow fadeInDown"  data-wow-delay="0.9s">Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Aenean euismod bibendum laoreet. </p>
                    </div>
                    <div class="withbox">
                        <h2 class="wow fadeInDown"  data-wow-delay="0.10s">Loreum Ipsum</h2>
                        <p class="wow fadeInDown"  data-wow-delay="0.9s">Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Aenean euismod bibendum laoreet. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="account">
    <div class="container">
        <div class="accountInner wow fadeInDown"  data-wow-delay="0.10s">
            <h2 class="second">Have an account?</h2>
            <p class="para">Please login into your account using the credentials.</p>
            <a href="javascript:void(0)" class="btns hoverBtn">Advertiiser Login</a>
        </div>
    </div>

</section>
<section class="adverstiseSlider wow fadeInLeft"  data-wow-delay="0.10s">
    <div class="container">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>

                <div class="validty">
                    <div class="valiTop">
                        <div class="valiImg">
                            <img src="assets/imgs/gold.svg" alt="silver">
                        </div>
                        <div class="valiCon">
                            <h2>Gold</h2>
                            <p>₹ 2,500.00</p>
                            <h3>Validity: 3 Months</h3>
                        </div>
                    </div>
                    <ul>
                        <li>Lorem ipsum dolor sit amet,</li>
                        <li>Lorem ipsum dolor sit amet,</li>
                        <li>Lorem ipsum dolor sit amet,</li>
                        <li>Lorem ipsum dolor sit amet,</li>
                    </ul>
                </div>
            </ng-template>
        
            <ng-template carouselSlide>

                <div class="validty">
                    <div class="valiTop">
                        <div class="valiImg">
                            <img src="assets/imgs/dimond.svg" alt="silver">
                        </div>
                        <div class="valiCon">
                            <h2>Diamond</h2>
                            <p>₹ 2,500.00</p>
                            <h3>Validity: 3 Months</h3>
                        </div>
                    </div>
                    <ul>
                        <li>Lorem ipsum dolor sit amet,</li>
                        <li>Lorem ipsum dolor sit amet,</li>
                        <li>Lorem ipsum dolor sit amet,</li>
                        <li>Lorem ipsum dolor sit amet,</li>
                    </ul>
                </div>
            </ng-template>
       
            <ng-template carouselSlide>

                <div class="validty">
                    <div class="valiTop">
                        <div class="valiImg">
                            <img src="assets/imgs/silver.svg" alt="silver">
                        </div>
                        <div class="valiCon">
                            <h2>Silver</h2>
                            <p>₹ 2,500.00</p>
                            <h3>Validity: 3 Months</h3>
                        </div>
                    </div>
                    <ul>
                        <li>Lorem ipsum dolor sit amet,</li>
                        <li>Lorem ipsum dolor sit amet,</li>
                        <li>Lorem ipsum dolor sit amet,</li>
                        <li>Lorem ipsum dolor sit amet,</li>
                    </ul>
                </div>
            </ng-template>
    
            <ng-template carouselSlide>

                <div class="validty">
                    <div class="valiTop">
                        <div class="valiImg">
                            <img src="assets/imgs/gold.svg" alt="silver">
                        </div>
                        <div class="valiCon">
                            <h2>Gold</h2>
                            <p>₹ 2,500.00</p>
                            <h3>Validity: 3 Months</h3>
                        </div>
                    </div>
                    <ul>
                        <li>Lorem ipsum dolor sit amet,</li>
                        <li>Lorem ipsum dolor sit amet,</li>
                        <li>Lorem ipsum dolor sit amet,</li>
                        <li>Lorem ipsum dolor sit amet,</li>
                    </ul>
                </div>
            </ng-template>
        
            <ng-template carouselSlide>

                <div class="validty">
                    <div class="valiTop">
                        <div class="valiImg">
                            <img src="assets/imgs/dimond.svg" alt="silver">
                        </div>
                        <div class="valiCon">
                            <h2>Diamond</h2>
                            <p>₹ 2,500.00</p>
                            <h3>Validity: 3 Months</h3>
                        </div>
                    </div>
                    <ul>
                        <li>Lorem ipsum dolor sit amet,</li>
                        <li>Lorem ipsum dolor sit amet,</li>
                        <li>Lorem ipsum dolor sit amet,</li>
                        <li>Lorem ipsum dolor sit amet,</li>
                    </ul>
                </div>
            </ng-template>
       
            <ng-template carouselSlide>

                <div class="validty">
                    <div class="valiTop">
                        <div class="valiImg">
                            <img src="assets/imgs/silver.svg" alt="silver">
                        </div>
                        <div class="valiCon">
                            <h2>Silver</h2>
                            <p>₹ 2,500.00</p>
                            <h3>Validity: 3 Months</h3>
                        </div>
                    </div>
                    <ul>
                        <li>Lorem ipsum dolor sit amet,</li>
                        <li>Lorem ipsum dolor sit amet,</li>
                        <li>Lorem ipsum dolor sit amet,</li>
                        <li>Lorem ipsum dolor sit amet,</li>
                    </ul>
                </div>
            </ng-template>
          
        </owl-carousel-o>
    </div>
</section>
<section class="conect">
    <div class="container">
        <div class="connetInner">
            <h2 class="second wow fadeInDown"  data-wow-delay="0.10s">Connect With Us</h2>
            <p class="para wow fadeInDown"  data-wow-delay="0.10s">Send your query to us we’ll get back to you</p>
            <div class="row">
                <div class="col-sm-6 mb-25">
                    <div class="form-group pdr-5">
                        <input type="text" class="form-control formControl" placeholder="Full Name">
                    </div>
                </div>
                <div class="col-sm-6 mb-25">
                    <div class="form-group pdl-5">
                        <input type="text" class="form-control formControl" placeholder="Email ID">
                    </div>
                </div>
                <div class="col-sm-6 mb-25">
                    <div class="form-group pdr-5">
                        <input type="text" class="form-control formControl" placeholder="Contact Number">
                    </div>
                    
                </div>
                <div class="col-sm-6 mb-25">
                    <div class="form-group pdl-5">
                        <select class="form-control formControl">
                            <option>Category</option>
                            <option>Category1</option>
                            <option>Category2</option>
                            <option>Category3</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 mb-25">
                    <div class="form-group pdr-5">
                        <input type="text" class="form-control formControl" placeholder="Ads Duration">
                    </div>
                </div>
                <div class="col-sm-6 mb-25">
                    <div class="form-group pdl-5">
                        <select class="form-control formControl">
                            <option>Select Plan</option>
                            <option>Plan1</option>
                            <option>Plan2</option>
                            <option>Plan3</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 mb-25">
                    <div class="form-group">
                        <textarea rows="4" class="form-control formControl" placeholder="Message"></textarea>
                    </div>
                </div>
            </div>
            <div class="sendBtn">
                <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" class="btns hoverBtn">
                    Send
                </a>
            </div>
        </div>
    </div>
</section>

<section class="conect2">
    <div class="container">
        <div class="connect2in">
            <h2 class="or wow fadeInDown"  data-wow-delay="0.10s">Or</h2>
            <h2 class="second wow fadeInDown"  data-wow-delay="0.10s">Connect with us to make history with us</h2>

            <div class="row">
                <div class="col-sm-6">
                    <a class="connectdet btnHover1 white wow fadeInLeft"  data-wow-delay="0.10s" href="javascript:void(0)">
                <span>
                    <div class="mailimg">
                        <img src="assets/imgs/email.svg" alt="email">
                    </div>
                    <p>Info@bountybunch.com</p>
                </span>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a class="connectdet btnHover1 white wow fadeInRight"  data-wow-delay="0.10s" href="javascript:void(0)">
                   <span>
                    <div class="mailimg">
                        <img src="assets/imgs/call.svg" alt="email">
                    </div>
                    <p>+91 9895x xxxxx</p>
                   </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>

<div class="modal fade" id="myModal">
    <div class="modal-dialog" style="max-width: 565px;" >
      <div class="modal-content">
      
   <div class="cancelModal cancelModal2" style="background-image:url('assets/imgs/modalshadow.svg');">
       <h2 class="h"> Thank you for your interest in advertising
        with BountyBunch.</h2>
        <p>We'll get back to you soon..!!</p>
       <ul style="padding-top: 22px;">
           <li><a href="javascript:void(0)" data-dismiss="modal" class="btns hoverBtn">Close</a></li>
       </ul>
   </div>
        
  
    
        
      </div>
    </div>
  </div>