<footer class="footercode" style="position: relative;">
      <!-- scroll code start -->
  <div class="parent">
    <div class="heart scroll"> 
      <span ><i class="fa fa-chevron-up"></i></span>
    </div>
  </div>
  <!-- scroll code end -->
    <div class="container">
        <div class="footerin">
            <h2 class="second">Stay Connected</h2>

            <div class="socialIcons">
                <ul>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="footerCol">
                        <a href="javascript:void(0)">
                            <img src="assets/imgs/footer-logo.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footerCol">
                        <ul>
                            <li><a [routerLink]="['/about-us']">About Us
                            </a></li>
                            <li><a [routerLink]="['/term-condition']">Term & Condition
                            </a></li>
                            <li><a href="javascript:void(0)">Cookies Policy
                            </a></li>
                            <li><a [routerLink]="['/privacy-policy']">Privacy Policy
                            </a></li>
                            <li><a [routerLink]="['/how-to-play']">How to Play ?
                            </a></li>
                           
                        </ul>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="footerCol">
                        <ul>
                            <li><a [routerLink]="['/login']">Advertiser Login
                            </a></li>
                            <li><a [routerLink]="['/faqs']">FAQ
                            </a></li>
                            <li><a [routerLink]="['/contact-us']">Contact Us
                            </a></li>
                            <li><a [routerLink]="['/blog']">Blog
                            </a></li>
                            <li><a [routerLink]="['/fair-play']">Fair Play
                            </a></li>
                    
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footerAdd">
                        <a href="javascript:void(0)" class="email">info@bountybunch.com</a>
                        <p>H-147, Street Name, 
                            City Name, India - 000000</p>
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                            </ul>
                            <h3>© 2021. All rights reserved.</h3>
                    </div>
                </div>
            </div>
            <div class="copyWrite">
                <h2 class="second">Disclaimer</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
         </p>
            </div>
        </div>
    </div>
</footer>


<div class="stripAll">
    <div class="strip">
      <div class="stripLeft">
        <h2>Get Android app link through SMS</h2>
      </div>
      <div class="stripMiddle">
        <div class="form-group" style="display: flex;">
          <input type="text" class="form-control formControl" placeholder="Enter mobile number">
          <a href="javascript:void(0)" class="btns hoverBtn">SMS APP LINK</a>
        </div>
      </div>
      <div class="stripRight">
        <div class="stripImg">
          <img src="assets/imgs/strip.svg" alt="strip" style="width: 35px;">
        </div>
        <div class="stripCon">
          <h2>Bounty Bunch</h2>
          <p><span><img src="assets/imgs/star-48.webp" alt="" style="width: 15px;"></span>
          <span>4.7 Rating</span> <span style="padding: 0px 10px;">  •</span>
          
          <span>  50,00,000+ Downloads</span></p>
        </div>
      </div>
    </div>
  </div>

