<app-header2></app-header2>

<section class="dashboard-common">

 
        <div class="sideNavCode">
           <app-sidenav>
               
           </app-sidenav>
        </div>
   
     
           <div class="dashbordRight">
               <h2>Advertisement Detail Page</h2>
               <h3 class="head">Advertisement Analytics</h3>
       <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <input type="date" class="form-control formControl loginform" style="text-transform: uppercase;">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <input type="date" class="form-control formControl loginform" style="text-transform: uppercase;">
            </div>
        </div>
        <div class="col-sm-2">
            <a href="javascript:void(0)" class="btns" style="text-align: center;">Email ID</a>
        </div>
        <div class="col-sm-2">
            <a href="javascript:void(0)" class="btns Reset" style="text-align: center;">Reset</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="firstdash">
                <div class="firstdashUp">
                    <h2>100</h2>
                    <img src="assets/imgs/click1.svg" alt="total">
                </div>
                <div class="adname bg2">
                    <p>Clicks on Advertisement</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
         <div class="firstdash">
             <div class="firstdashUp">
                 <h2>100</h2>
                 <img src="assets/imgs/view.svg" alt="total">
             </div>
             <div class="adname bg">
                 <p>Views on Advertisement</p>
             </div>
         </div>
     </div>
     <div class="col-sm-4">
        <div class="firstdash">
            <div class="firstdashUp">
                <h2>10</h2>
                <img src="assets/imgs/click3.svg" alt="total">
            </div>
            <div class="adname">
                <p>Repetition of Ads per day</p>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-7"></div>
        <div class="col-sm-5">
            <a href="javascript:void(0)" class="btns bt"><span><img src="assets/imgs/excel.svg" alt="excel"></span> Download in Excel</a>
        </div>
    </div>
    <h3 class="head">Advertisement Details</h3>
    <h5>status: <span class="colorGreen">Active</span></h5>
    <form action="" class="margin">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="" class="label">Advertisement ID</label>
                    <input type="text" class="form-control formControl loginform" value="ADV#1234">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="" class="label">Activated On</label>
                    <input type="text" class="form-control formControl loginform" value="dd/mm/yyyy & hh:mm am">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="" class="label">Plan Name</label>
                    <input type="text" class="form-control formControl loginform" value="Silver">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="" class="label">Title</label>
                    <input type="text" class="form-control formControl loginform" value="Plyboard">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="" class="label"> Description</label>
                    <textarea rows="4" class="form-control formControl loginform">
Our Playboard, Block Board and Doors are made using the best of raw material and wood along with advanced technology. Each product is  thoroughly checked for quality before being dispatched-out for delivery.
                    </textarea>

                </div>
            </div> 
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="" class="label" style="display: block;">Files </label>
                    <div class="uploaderr">
                        <img src="assets/imgs/upload2.svg" class="uploaded" alt="upload" style="display: block;">
                     
                       </div>
                </div>
            </div>
  
        </div>
        <h3 class="head">Advertisement Details</h3>
        <form action="" class="margin">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="label">Transaction ID</label>
                        <input type="text" class="form-control formControl loginform" value="ADV#1234">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="label">Transaction On</label>
                        <input type="text" class="form-control formControl loginform" value="dd/mm/yyyy & hh:mm am">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="label">Paid Via</label>
                        <input type="text" class="form-control formControl loginform" value="Online Mode">
                    </div>
                </div>
            </div>
        </form>

        <div class="silverBox" style="background-image: url(assets/imgs/shad.svg);">
            <div class="silverfirst">
                <h3>Silver</h3>
                <h2>₹ 1,000.00</h2>
                <h5>Validity: 1 Month</h5>
            </div>
            <div class="silversecond" style="padding-left: 35px;">
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur <br>
                        adipiscing elit</li>
                    <li>Lorem ipsum dolor sit amet, consectetur <br>
                        adipiscing elit</li>
                </ul>
            </div>
            <div class="silversecond">
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur <br>
                        adipiscing elit</li>
                    <li>Lorem ipsum dolor sit amet, consectetur <br>
                        adipiscing elit</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8"></div>
            <div class="col-sm-4">
                <a [routerLink]="['/advertisement-request']" class="btns bt">Extend Validity</a>
            </div>
        </div>
    </form>
    <h3 class="head">Plan History</h3>
    <div class="row">
        <div class="col-sm-9"></div>
     
        <div class="col-sm-3">
            <div class="form-group" style="position: relative;">
                <input type="text" class="form-control formControl loginform" placeholder="Search"
                    style="padding-right: 45px;">
                <span class="eye" style="right: 10px;"><img src="assets/imgs/search2.svg" alt="search"
                        style="width: 75%;"></span>
            </div>
        </div>

    </div>
    <div class="tableList">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr. No</th>
                        <th>Txn ID</th>
                        <th>Transaction On</th>
                        <th>Plan Name</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Remark</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1.</td>
                        <td>Adv#123</td>
    
                        <td>April 6, 2021
                            06:00</td>
                            <td>Silver</td>
                            <td>1,000.00</td>
                               
                        <td><span class="colorGreen dot">Active</span></td>
                     
                    <td>N/A</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>Adv#123</td>
        
                            <td>April 6, 2021
                                06:00</td>
                                <td>Silver</td>
                                <td>1,000.00</td>
                                   
                            <td><span class="colored dot">Expired</span></td>
                         
                        <td>N/A</td>
                            </tr>
                </tbody>
            </table>
        </div>
    </div>
       </div>

</section>

