<app-header2></app-header2>


<section class="loginDetails" style="background-image: url('assets/imgs/shadow.svg');">


    <div class="container">
        <div class="row" style="align-items: center;">
        <div class="col-sm-6">
            <div class="loginLeft">
                <img src="assets/imgs/login.svg" alt="login" style="width: 85%;">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="loginRight">
                <h2 class="second">Set Password</h2>
                <p class="para">Please set new password for the future log-in.</p>
            </div>
    <form action="">
        <div class="loginForm">
            <div class="form-group" style="position: relative;">
                <input type="password" class="form-control formControl loginform pass" placeholder="New Password">
          <span class="eye "><i class="fa fa-eye-slash"></i></span>
            </div>
            <div class="form-group" style="position: relative;">
                <input type="password" class="form-control formControl loginform pass" placeholder="Confirm New Password">
          <span class="eye "><i class="fa fa-eye-slash"></i></span>
            </div>
        </div>
        <div class="subbtn">
            <a  [routerLink]="['/login']" >Save</a>
        </div>
    </form>
        </div>
        </div> 
    </div>
</section>

<app-footer></app-footer>