<app-header></app-header>
<section class="advertisment marginTop">
    <div class="container">
        <div class="row" style="align-items: center;">
            <div class="col-sm-6">
                <div class="advertisLeft wow fadeInLeft"  data-wow-delay="0.10s">
                    <h2 class="first">Contact
                        Us
                    </h2>
                    <p class="para">Loreum Ipsum Loreum IpsumLoreum Ipsum Loreum IpsumLoreum IpsumLoreum Ipsum Loreum
                        Ipsum Loreum
                        IpsumLoreum Ipsum Loreum IpsumLoreum IpsumLoreum Ipsum</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="adverstmentRight wow fadeInRight"  data-wow-delay="0.10s">
                    <img src="assets/imgs/contact-us.svg" alt="grow">
                </div>
            </div>
        </div>

        <div class="map wow fadeInDown"  data-wow-delay="0.10s">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3635689.793072721!2d80.8833819!3d27.141237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1622440583729!5m2!1sen!2sin"
                width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</section>

<section class="conect2 conactCon">
    <div class="container">
        <div class="connect2in">


            <div class="row">
                <div class="col-sm-4">
                    <a class="connectdet btnHover1 white wow fadeInDown"  data-wow-delay="0.10s" href="javascript:void(0)">
                    <span>
                        <div class="mailimg">
                            <img src="assets/imgs/email.svg" alt="email">
                        </div>
                        <p>Info@bountybunch.com</p>
                    </span>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a class="connectdet btnHover1 white wow fadeInDown"  data-wow-delay="0.10s" href="javascript:void(0)">
                 <span>
                    <div class="mailimg">
                        <img src="assets/imgs/call.svg" alt="email">
                    </div>
                    <p>+91 9895x xxxxx</p>
                 </span>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a class="connectdet btnHover1 white wow fadeInDown"  data-wow-delay="0.10s" href="javascript:void(0)">
                <span>
                    <div class="mailimg">
                        <img src="assets/imgs/location.svg" alt="email">
                    </div>
                    <p>H-147, Street Name,
                        City Name -000000, India</p>
                </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="conect contact-contet" style="background: #FFF4E1;">
    <div class="container">
        <div class="connetInner">
            <h2 class="second wow fadeInDown"  data-wow-delay="0.10s">Have questions?</h2>
            <p class="para wow fadeInDown"  data-wow-delay="0.10s">Let us know and we’ll get back to you.</p>
            <div class="row">
                <div class="col-sm-6 mb-25">
                    <div class="form-group pdr-5">
                        <input type="text" class="form-control formControl" placeholder="Full Name">
                    </div>
                </div>
                <div class="col-sm-6 mb-25">
                    <div class="form-group pdl-5">
                        <input type="text" class="form-control formControl" placeholder="Email ID">
                    </div>
                </div>
                <div class="col-sm-6 mb-25">
                    <div class="form-group pdr-5">
                        <input type="text" class="form-control formControl" placeholder="Contact Number">
                    </div>
                </div>
                <div class="col-sm-6 mb-25">
                    <div class="form-group pdl-5">
                        <select class="form-control formControl">
                            <option>Reason for contact</option>
                            <option>Reason1</option>
                            <option>Reason2</option>
                            <option>Reason3</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-12 mb-25">
                    <div class="form-group">
                        <textarea rows="4" class="form-control formControl" placeholder="Message"></textarea>
                    </div>
                </div>
                <div class="col-sm-12 mb-25">
                    <div class="form-group fileUploader">
                        <angular-file-uploader [config]="afuConfig">
                        </angular-file-uploader>
                    </div>
                </div>
            </div>

            <div class="sendBtn">
                <a href="javascript:void(0)" id="btn" class="btns hoverBtn">
                    Send
                </a>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>