<app-header></app-header>
<section class="advertisment marginTop">
    <div class="container">
        <div class="row" style="align-items: center;">
            <div class="col-sm-6">
                <div class="advertisLeft wow fadeInLeft"  data-wow-delay="0.10s">
                    <h2 class="first">
                        About <br>
                        Bounty Bunch
                    </h2>
                    <p class="para">Loreum Ipsum Loreum IpsumLoreum Ipsum Loreum IpsumLoreum IpsumLoreum Ipsum Loreum
                        Ipsum Loreum
                        IpsumLoreum Ipsum Loreum IpsumLoreum IpsumLoreum Ipsum</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="adverstmentRight wow fadeInRight" data-wow-delay="0.10s">
                    <img src="assets/imgs/about.png" alt="grow">
                </div>
            </div>
        </div>


    </div>
</section>

<section class="aboutus">
    <div class="container">
        <div class="aboutInner">
            <p class="para wow fadeInDown"  data-wow-delay="0.10s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                Proin gravida
                dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis
                natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus
                pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget. Lorem ipsum
                dolor sit amet, consectetur adipiscing elit.</p>
            <p class="para wow fadeInDown"  data-wow-delay="0.10s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                Proin gravida
                dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis
                natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus
                pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget. Lorem ipsum
                dolor sit amet, consectetur adipiscing elit.</p>
            <p class="para wow fadeInDown"  data-wow-delay="0.10s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                Proin gravida
                dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis
                natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus
                pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget. Lorem ipsum
                dolor sit amet, consectetur adipiscing elit.</p>
            <p class="para wow fadeInDown"  data-wow-delay="0.10s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                Proin gravida
                dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis
                natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus
                pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget. Lorem ipsum
                dolor sit amet, consectetur adipiscing elit.</p>
            <p class="para wow fadeInDown"  data-wow-delay="0.10s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                Proin gravida
                dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis
                natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus
                pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget. Lorem ipsum
                dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
</section>

<section class="conect2 conactCon">
    <div class="container">
        <div class="downBlow unique">
            <div class="sliderDown wow fadeInDown"  data-wow-delay="0.10s">
                <h2 class="first" style="padding-bottom:30px">A unique product of
                    Eubiquiti Solutions</h2>

                <div class="">


                </div>
                <div class="linkbtn">
                    <a href="javascript:void(0)" class="hoverBtn">Explore Me</a>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>