<app-header2></app-header2>

<section class="dashboard-common">
<div class=""></div>
            <div class="sideNavCode">
                <app-sidenav>

                </app-sidenav>
            </div>
                    <div class="dashbordRight">
                    <h2>Change Password</h2>
                    <form action="">
                        <div class="loginForm" style="width: 50%;">
                            <div class="form-group" style="position: relative;">
                                <input type="password" class="form-control formControl loginform pass"
                                    placeholder="Current Password">
                                <span class="eye "><i class="fa fa-eye-slash"></i></span>
                            </div>
                            <div class="form-group" style="position: relative;">
                                <input type="password" class="form-control formControl loginform pass" 
                                    placeholder="New Password">
                                <span class="eye "><i class="fa fa-eye-slash"></i></span>
                            </div>
                            <div class="form-group" style="position: relative;">
                                <input type="password" class="form-control formControl loginform pass"
                                    placeholder="Confirm New Password">
                                <span class="eye "><i class="fa fa-eye-slash"></i></span>
                            </div>
                        </div>
                        <div class="subbtn" style="width: 50%;">
                            <a [routerLink]="['/login']">Save</a>
                        </div>
                    </form>
                </div>
</section>