<app-header2></app-header2>

<section class="dashboard-common">
    <div class="sideNavCode">
        <app-sidenav>

        </app-sidenav>
    </div>
    <div class="dashbordRight">
        <h2>Submit your advertisement</h2>
        <h3 class="head">Advertisement Details</h3>
        <h5>status: <span>Media Pending</span></h5>
        <form action="" class="margin">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="label">Transaction ID</label>
                        <input type="text" class="form-control formControl loginform" value="ADV#1234">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="label">Transaction On</label>
                        <input type="text" class="form-control formControl loginform" value="dd/mm/yyyy & hh:mm am">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="label">Plan Name</label>
                        <input type="text" class="form-control formControl loginform" value="Silver">
                    </div>
                </div>
            </div>
        </form>

        <h3 class="head">Plan Details</h3>
        <form action="" class="margin">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="label">Transaction ID</label>
                        <input type="text" class="form-control formControl loginform" value="ADV#1234">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="label">Transaction On</label>
                        <input type="text" class="form-control formControl loginform" value="dd/mm/yyyy & hh:mm am">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="label">Paid Via</label>
                        <input type="text" class="form-control formControl loginform" value="Online Mode">
                    </div>
                </div>
            </div>
        </form>

        <div class="silverBox" style="background-image: url(assets/imgs/shad.svg);">
            <div class="silverfirst">
                <h3>Silver</h3>
                <h2>₹ 1,000.00</h2>
                <h5>Validity: 1 Month</h5>
            </div>
            <div class="silversecond" style="padding-left: 35px;">
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur <br>
                        adipiscing elit</li>
                    <li>Lorem ipsum dolor sit amet, consectetur <br>
                        adipiscing elit</li>
                </ul>
            </div>
            <div class="silversecond">
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur <br>
                        adipiscing elit</li>
                    <li>Lorem ipsum dolor sit amet, consectetur <br>
                        adipiscing elit</li>
                </ul>
            </div>
        </div>
        <h3 class="head">Upload Media</h3>
        <form action="" class="margin">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="" class="label" style="display: block;">Upload</label>
                   <div class="uploaderr">
                    <img src="assets/imgs/upload2.svg" class="uploaded" alt="upload" style="display: block;">
                 
                   </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="label">Advertisement Title</label>
                        <input type="text" class="form-control formControl loginform" value="Lorem Ipsum">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="" class="label">Advertisement Description</label>
                        <textarea rows="4" class="form-control formControl loginform">
Our Playboard, Block Board and Doors are made using the best of raw material and wood along with advanced technology. Each product is  thoroughly checked for quality before being dispatched-out for delivery.
                        </textarea>

                    </div>
                </div> 
            </div>
            <div class="row">
                <div class="col-sm-8"></div>
                <div class="col-sm-4">
                    <a data-toggle="modal" data-target="#myModal2" class="btns bt">Submit</a>
                </div>
            </div>
        </form>
    </div>


</section>

<div class="modal fade" id="myModal2">
    <div class="modal-dialog" style="max-width: 565px;" >
      <div class="modal-content">
      
   <div class="cancelModal cancelModal2" style="background-image:url('assets/imgs/modalshadow.svg');">
       <h2 class="h"> Your advertisement has been successfully
        submitted to the admin for review.</h2>
        <p>We'll get back to you soon..!!</p>
       <ul style="padding-top: 22px;">
           <li><a href="javascript:void(0)" data-dismiss="modal" class="btns">Close</a></li>
       </ul>
   </div>
        
  
    
        
      </div>
    </div>
  </div>