<app-header2></app-header2>

<section class="dashboard-common">

 
        <div class="sideNavCode">
           <app-sidenav>
               
           </app-sidenav>
        </div>
   
     
           <div class="dashbordRight">
               <h2>Analyse your Advertisement</h2>

               <div class="row">
                   <div class="col-sm-4">
                       <div class="firstdash">
                           <div class="firstdashUp">
                               <h2>04</h2>
                               <img src="assets/imgs/total.svg" alt="total">
                           </div>
                           <div class="adname">
                               <p>Total Advertisement</p>
                           </div>
                       </div>
                   </div>
                   <div class="col-sm-4">
                    <div class="firstdash">
                        <div class="firstdashUp">
                            <h2>02</h2>
                            <img src="assets/imgs/active.svg" alt="total">
                        </div>
                        <div class="adname bg">
                            <p>Active Advertisement</p>
                        </div>
                    </div>
                </div>
               </div>
       <div class="row">
           <div class="col-sm-4">
               <div class="form-group">
                   <input type="text" class="form-control formControl loginform" placeholder="Email ID">
               </div>
           </div>
       </div>
       <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <input type="date" class="form-control formControl loginform" style="text-transform: uppercase;">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <input type="date" class="form-control formControl loginform" style="text-transform: uppercase;">
            </div>
        </div>
        <div class="col-sm-2">
            <a href="javascript:void(0)" class="btns" style="text-align: center;">Email ID</a>
        </div>
        <div class="col-sm-2">
            <a href="javascript:void(0)" class="btns Reset" style="text-align: center;">Reset</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="firstdash">
                <div class="firstdashUp">
                    <h2>100</h2>
                    <img src="assets/imgs/click1.svg" alt="total">
                </div>
                <div class="adname bg2">
                    <p>Clicks on Advertisement</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
         <div class="firstdash">
             <div class="firstdashUp">
                 <h2>100</h2>
                 <img src="assets/imgs/view.svg" alt="total">
             </div>
             <div class="adname bg">
                 <p>Views on Advertisement</p>
             </div>
         </div>
     </div>
     <div class="col-sm-4">
        <div class="firstdash">
            <div class="firstdashUp">
                <h2>10</h2>
                <img src="assets/imgs/click3.svg" alt="total">
            </div>
            <div class="adname">
                <p>Repetition of Ads per day</p>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-7"></div>
        <div class="col-sm-5">
            <a href="javascript:void(0)" class="btns bt"><span><img src="assets/imgs/excel.svg" alt="excel"></span> Download in Excel</a>
        </div>
    </div>
       </div>
</section>

