<app-header2></app-header2>


<section class="loginDetails" style="background-image: url('assets/imgs/shadow.svg');">


    <div class="container">
        <div class="row" style="align-items: center;">
        <div class="col-sm-6">
            <div class="loginLeft">
                <img src="assets/imgs/login.svg" alt="login" style="width: 85%;">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="loginRight">
                <h2 class="second">Forgot Password</h2>
                <p class="para">Provide us the  registered email id and we will send an
                    OTP  to reset your password.</p>
            </div>
    <form action="">
        <div class="loginForm">
            <div class="form-group" style="padding: 20px 0px 15px;">
                <input type="text" class="form-control formControl loginform" placeholder="Email ID">
            </div>
      
      
        </div>
        <div class="subbtn">
            <a  [routerLink]="['/confirm-password']" >Continue</a>
        </div>
        <div class="resend">
          
            <p>Back to <a [routerLink]="['/login']">Login</a></p>
        </div>
    </form>
        </div>
        </div> 
    </div>
</section>

<app-footer></app-footer>