<app-header></app-header>
<section class="advertisment marginTop">
    <div class="container">
        <div class="row" style="align-items: center;flex-direction: row-reverse;">
            <div class="col-sm-6">
                <div class="advertisLeft wow fadeInRight"  data-wow-delay="0.10s">
                    <h2 class="first">Blogs
                    </h2>
                    <p class="para">Loreum Ipsum Loreum IpsumLoreum Ipsum Loreum IpsumLoreum IpsumLoreum Ipsum Loreum
                        Ipsum Loreum
                        IpsumLoreum Ipsum Loreum IpsumLoreum IpsumLoreum Ipsum</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="adverstmentRight wow fadeInLeft"  data-wow-delay="0.10s">
                    <img src="assets/imgs/blog.svg" alt="blog" style="width: 90%;">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="allblogs">
    <div class="container">
  
     <div class="row">
        <div class="col-sm-6">
            <div class="blogDet">
                <a  [routerLink]="['/blog-details']" class="blogInner wow fadeInDown"  data-wow-delay="0.10s">
    <span>
        <div class="blogImg">
            <img src="assets/imgs/blog1.png" alt="blog">
        </div>
        <div class="blogContent">
            <div class="admin">
                <img src="assets/imgs/user.svg" alt="user">
                <p>by Admin, 16/March/2021 13:45</p>
            </div>
            <div class="aboutBlog">
                <h2>Loreum Ipsum Loreum IpsumLoreum
                    Ipsum Loreum.</h2>
                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                    bibendum laoreet. Proin gravida dolor sit amet lacus Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
                    amet lacus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                    bibendum laoreet. Proin gravida dolor sit amet lacus</p>
            </div>
        </div>
    </span>
                </a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="blogDet">
                <a  [routerLink]="['/blog-details']" class="blogInner wow fadeInDown"  data-wow-delay="0.10s">
                    <span>
                        <div class="blogImg">
                            <img src="assets/imgs/blog2.png" alt="blog">
                        </div>
                        <div class="blogContent">
                            <div class="admin">
                                <img src="assets/imgs/user.svg" alt="user">
                                <p>by Admin, 16/March/2021 13:45</p>
                            </div>
                            <div class="aboutBlog">
                                <h2>Loreum Ipsum Loreum IpsumLoreum
                                    Ipsum Loreum.</h2>
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                                    bibendum laoreet. Proin gravida dolor sit amet lacus Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
                                    amet lacus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                                    bibendum laoreet. Proin gravida dolor sit amet lacus</p>
                            </div>
                        </div>
                    </span>
              
                </a>
            </div>
        </div>

        <div class="col-sm-6 mt-30">
            <div class="blogDet">
                <a  [routerLink]="['/blog-details']" class="blogInner wow fadeInDown"  data-wow-delay="0.10s">
                    <span>
                        <div class="blogImg">
                            <img src="assets/imgs/blog3.png" alt="blog">
                        </div>
                        <div class="blogContent">
                            <div class="admin">
                                <img src="assets/imgs/user.svg" alt="user">
                                <p>by Admin, 16/March/2021 13:45</p>
                            </div>
                            <div class="aboutBlog">
                                <h2>Loreum Ipsum Loreum IpsumLoreum
                                    Ipsum Loreum.</h2>
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                                    bibendum laoreet. Proin gravida dolor sit amet lacus Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
                                    amet lacus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                                    bibendum laoreet. Proin gravida dolor sit amet lacus</p>
                            </div>
                        </div>
                    </span>
                
                </a>
            </div>
        </div>
        <div class="col-sm-6 mt-30">
            <div class="blogDet">
                <a  [routerLink]="['/blog-details']" class="blogInner wow fadeInDown"  data-wow-delay="0.10s">
                    <span>
                        <div class="blogImg">
                            <img src="assets/imgs/blog4.png" alt="blog">
                        </div>
                        <div class="blogContent">
                            <div class="admin">
                                <img src="assets/imgs/user.svg" alt="user">
                                <p>by Admin, 16/March/2021 13:45</p>
                            </div>
                            <div class="aboutBlog">
                                <h2>Loreum Ipsum Loreum IpsumLoreum
                                    Ipsum Loreum.</h2>
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                                    bibendum laoreet. Proin gravida dolor sit amet lacus Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
                                    amet lacus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                                    bibendum laoreet. Proin gravida dolor sit amet lacus</p>
                            </div>
                        </div>
                    </span>
              
                </a>
            </div>
        </div>
        <div class="col-sm-6 mt-30">
            <div class="blogDet">
                <a  [routerLink]="['/blog-details']" class="blogInner wow fadeInDown"  data-wow-delay="0.10s">
                <span>
                    <div class="blogImg">
                        <img src="assets/imgs/blog5.png" alt="blog">
                    </div>
                    <div class="blogContent">
                        <div class="admin">
                            <img src="assets/imgs/user.svg" alt="user">
                            <p>by Admin, 16/March/2021 13:45</p>
                        </div>
                        <div class="aboutBlog">
                            <h2>Loreum Ipsum Loreum IpsumLoreum
                                Ipsum Loreum.</h2>
                            <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                                bibendum laoreet. Proin gravida dolor sit amet lacus Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
                                amet lacus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                                bibendum laoreet. Proin gravida dolor sit amet lacus</p>
                        </div>
                    </div>
                </span>
                </a>
            </div>
        </div>
        <div class="col-sm-6 mt-30">
            <div class="blogDet">
                <a  [routerLink]="['/blog-details']" class="blogInner wow fadeInDown"  data-wow-delay="0.10s">
              <span>
                <div class="blogImg">
                    <img src="assets/imgs/blog6.png" alt="blog">
                </div>
                <div class="blogContent">
                    <div class="admin">
                        <img src="assets/imgs/user.svg" alt="user">
                        <p>by Admin, 16/March/2021 13:45</p>
                    </div>
                    <div class="aboutBlog">
                        <h2>Loreum Ipsum Loreum IpsumLoreum
                            Ipsum Loreum.</h2>
                        <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                            bibendum laoreet. Proin gravida dolor sit amet lacus Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
                            amet lacus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                            bibendum laoreet. Proin gravida dolor sit amet lacus</p>
                    </div>
                </div>
              </span>
                </a>
            </div>
        </div>
     </div>
    </div>
</section>

<app-footer></app-footer>