<app-header></app-header>

<section class="downloadApp">
    <div class="container">

        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="row aligncenter">
                    <div class="col-sm-7">
                        <div class="sliderDown wow fadeInLeft"  data-wow-delay="0.5s">
                            <h2 class="first">Download the<span class="androidani"><img src="assets/imgs/android.svg"
                                        alt="android" class="android"></span>App Now</h2>
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">Learn</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Earn</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Play</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Social Connects</a>
                                </li>
                            </ul>
                            <div class="phonecode">
                                <input type="text" class="flags" ng2TelInput />
                                <input type="text" class="code" value="+1" readonly>
                                <input type="text" class="form-control formControl" placeholder="Enter Mobile Number">
                            </div>
                            <div class="linkbtn">
                                <a href="javascript:void(0)" class ="hoverBtn">Get App Link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="phoneImg wow fadeInRight"  data-wow-delay="0.5s">
                            <img src="assets/imgs/phone3.svg" alt="phone" class="phone">
                        </div>
                    </div>
                </div>

            </ng-template>
            <ng-template carouselSlide>
                <div class="row aligncenter">
                    <div class="col-sm-7">
                        <div class="sliderDown">
                            <h2 class="first">Download the<span class="androidani"><img src="assets/imgs/android.svg"
                                alt="android" class="android"></span>App Now</h2>
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">Learn</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Earn</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Play</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Social Connects</a>
                                </li>
                            </ul>
                            <div class="phonecode">
                                <input type="text" class="flags" ng2TelInput />
                                <input type="text" class="code" value="+1" readonly>
                                <input type="text" class="form-control formControl" placeholder="Enter Mobile Number">
                            </div>
                            <div class="linkbtn">
                                <a href="javascript:void(0)" class ="hoverBtn">Get App Link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="phoneImg">
                            <img src="assets/imgs/phone3.svg" alt="phone" class="phone">
                        </div>
                    </div>
                </div>

            </ng-template>
            <ng-template carouselSlide>
                <div class="row aligncenter">
                    <div class="col-sm-7">
                        <div class="sliderDown">
                            <h2 class="first">Download the<span class="androidani"><img src="assets/imgs/android.svg"
                                alt="android" class="android"></span>App Now</h2>
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">Learn</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Earn</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Play</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Social Connects</a>
                                </li>
                            </ul>
                            <div class="phonecode">
                                <input type="text" class="flags" ng2TelInput />
                                <input type="text" class="code" value="+1" readonly>
                                <input type="text" class="form-control formControl" placeholder="Enter Mobile Number">
                            </div>
                            <div class="linkbtn">
                                <a href="javascript:void(0)" class ="hoverBtn">Get App Link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="phoneImg">
                            <img src="assets/imgs/phone3.svg" alt="phone" class="phone">
                        </div>
                    </div>
                </div>

            </ng-template>
            <ng-template carouselSlide>
                <div class="row aligncenter">
                    <div class="col-sm-7">
                        <div class="sliderDown">
                            <h2 class="first">Download the<span class="androidani"><img src="assets/imgs/android.svg"
                                alt="android" class="android"></span>App Now</h2>
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">Learn</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Earn</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Play</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Social Connects</a>
                                </li>
                            </ul>
                            <div class="phonecode">
                                <input type="text" class="flags" ng2TelInput />
                                <input type="text" class="code" value="+1" readonly>
                                <input type="text" class="form-control formControl" placeholder="Enter Mobile Number">
                            </div>
                            <div class="linkbtn">
                                <a href="javascript:void(0)" class ="hoverBtn">Get App Link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="phoneImg">
                            <img src="assets/imgs/phone3.svg" alt="phone" class="phone">
                        </div>
                    </div>
                </div>

            </ng-template>
        </owl-carousel-o>

    </div>
</section>

<section class="easySteps">
    <div class="container">
        <div class="stepsInner">
            <h2 class="second wow fadeInDown"  data-wow-delay="0.9s">3 easy steps to start <br>
                with BountyBunch</h2>
            <div class="allSteps">
                <div class="stepByStep">
                    <div class="imgStep wow fadeInLeft" data-wow-delay="0.8s">
                        <img src="assets/imgs/step1.svg" alt="steps">
                    </div>
                    <div class="stepContent">
                        <h2 class="step wow fadeInDown" data-wow-delay="0.6s">Step 1</h2>
                        <h2 class="heading wow fadeInDown" data-wow-delay="0.7s">Enter Mobile Number</h2>
                        <p class="wow fadeInDown" data-wow-delay="0.8s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                            Proin gravida dolor sit amet lacus Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                    </div>
                </div>
                <div class="stepByStep">
                    <div class="imgStep wow fadeInRight" data-wow-delay="0.8s">
                        <img src="assets/imgs/step2.svg" alt="steps">
                    </div>
                    <div class="stepContent">
                        <h2 class="step wow fadeInDown" data-wow-delay="0.6s">Step 2</h2>
                        <h2 class="heading wow fadeInDown" data-wow-delay="0.7s">Download the App</h2>
                        <p  class="wow fadeInDown" data-wow-delay="0.8s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                            Proin gravida dolor sit amet lacus Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                    </div>
                </div>
                <div class="stepByStep">
                    <div class="imgStep wow fadeInLeft" data-wow-delay="0.8s">
                        <img src="assets/imgs/step3.svg" alt="steps">
                    </div>
                    <div class="stepContent">
                        <h2 class="step wow fadeInDown" data-wow-delay="0.6s">Step 3</h2>
                        <h2 class="heading wow fadeInDown" data-wow-delay="0.7s">Allow Installing the App</h2>
                        <p  class="wow fadeInDown" data-wow-delay="0.8s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                            Proin gravida dolor sit amet lacus Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="whybb">
    <div class="container">
        <div class="whybbIn">
            <h2 class="second wow fadeInDown"  data-wow-delay="0.9s">Why BountyBunch</h2>
            <div class="row">
                <div class="col-sm-3">
                    <div class="bountyIn">
                        <div class="bountyImg wow fadeInDown"  data-wow-delay="0.8s">
                            <img src="assets/imgs/bounty.svg" alt="bounty">
                        </div>
                        <div class="bountyContent">
                            <h3 class="wow fadeInDown" data-wow-delay="0.9s">Learn</h3>
                            <p class="wow fadeInDown" data-wow-delay="0.10s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="bountyIn">
                        <div class="bountyImg wow fadeInDown"  data-wow-delay="0.8s">
                            <img src="assets/imgs/bounty.svg" alt="bounty">
                        </div>
                        <div class="bountyContent">
                            <h3 class="wow fadeInDown" data-wow-delay="0.9s">Learn</h3>
                            <p class="wow fadeInDown" data-wow-delay="0.10s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="bountyIn">
                        <div class="bountyImg wow fadeInDown"  data-wow-delay="0.8s">
                            <img src="assets/imgs/bounty.svg" alt="bounty">
                        </div>
                        <div class="bountyContent">
                            <h3 class="wow fadeInDown" data-wow-delay="0.9s">Learn</h3>
                            <p class="wow fadeInDown" data-wow-delay="0.10s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="bountyIn">
                        <div class="bountyImg wow fadeInDown"  data-wow-delay="0.8s">
                            <img src="assets/imgs/bounty.svg" alt="bounty">
                        </div>
                        <div class="bountyContent">
                            <h3 class="wow fadeInDown" data-wow-delay="0.9s">Learn</h3>
                            <p class="wow fadeInDown" data-wow-delay="0.10s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="bountyIn">
                        <div class="bountyImg wow fadeInDown"  data-wow-delay="0.8s">
                            <img src="assets/imgs/bounty.svg" alt="bounty">
                        </div>
                        <div class="bountyContent">
                            <h3 class="wow fadeInDown" data-wow-delay="0.9s">Learn</h3>
                            <p class="wow fadeInDown" data-wow-delay="0.10s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="bountyIn">
                        <div class="bountyImg wow fadeInDown"  data-wow-delay="0.8s">
                            <img src="assets/imgs/bounty.svg" alt="bounty">
                        </div>
                        <div class="bountyContent">
                            <h3 class="wow fadeInDown" data-wow-delay="0.9s">Learn</h3>
                            <p class="wow fadeInDown" data-wow-delay="0.10s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="bountyIn">
                        <div class="bountyImg wow fadeInDown"  data-wow-delay="0.8s">
                            <img src="assets/imgs/bounty.svg" alt="bounty">
                        </div>
                        <div class="bountyContent">
                            <h3 class="wow fadeInDown" data-wow-delay="0.9s">Learn</h3>
                            <p class="wow fadeInDown" data-wow-delay="0.10s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="bountyIn">
                        <div class="bountyImg wow fadeInDown"  data-wow-delay="0.8s">
                            <img src="assets/imgs/bounty.svg" alt="bounty">
                        </div>
                        <div class="bountyContent">
                            <h3 class="wow fadeInDown" data-wow-delay="0.9s">Learn</h3>
                            <p class="wow fadeInDown" data-wow-delay="0.10s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="videoChat">
    <div class="container">
        <div class="videoIner">
            <h2 class="second wow fadeInDown"  data-wow-delay="0.10s">Hang out, video chat and win <br>
                with your skills</h2>
            <div class="videoSlider wow fadeInLeft"  data-wow-delay="0.8s">
                <owl-carousel-o [options]="customOptions2">
                    <ng-template carouselSlide>
                        <div class="gamesDet">
                            <div class="gamesImg">
                                <img src="assets/imgs/game1.svg" alt="game">
                            </div>
                            <div class="gamesCon">
                                <p>Host or Join a game to <br>
                                    party with your friends!</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="gamesDet">
                            <div class="gamesImg">
                                <img src="assets/imgs/game1.svg" alt="game">
                            </div>
                            <div class="gamesCon">
                                <p>Hang out, video chat and win <br>
                                    with your skills</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="gamesDet">
                            <div class="gamesImg">
                                <img src="assets/imgs/game1.svg" alt="game">
                            </div>
                            <div class="gamesCon">
                                <p>Make friends with new <br>
                                    gamers!</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="gamesDet">
                            <div class="gamesImg">
                                <img src="assets/imgs/game1.svg" alt="game">
                            </div>
                            <div class="gamesCon">
                                <p>Host or Join a game to <br>
                                    party with your friends!</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="gamesDet">
                            <div class="gamesImg">
                                <img src="assets/imgs/game1.svg" alt="game">
                            </div>
                            <div class="gamesCon">
                                <p>Hang out, video chat and win <br>
                                    with your skills</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="gamesDet">
                            <div class="gamesImg">
                                <img src="assets/imgs/game1.svg" alt="game">
                            </div>
                            <div class="gamesCon">
                                <p>Make friends with new <br>
                                    gamers!</p>
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>

<section class="withdrwal">
    <div class="container">
        <div class="withdrwalIn">
            <h2 class="second wow fadeInDown"  data-wow-delay="0.10s">Withdraw Winnings Instantly To</h2>
            <ul class="wow fadeInLeft"  data-wow-delay="0.8s">
                <li><img src="assets/imgs/paytm.svg" alt="paytm"></li>
                <li><img src="assets/imgs/upi.svg" alt="upi"></li>
                <li><img src="assets/imgs/bank.svg" alt="bank"></li>
            </ul>
        </div>
    </div>
</section>

<section class="socialCon">
    <div class="container">
        <div class="socialInner">
            <h2 class="second wow fadeInDown"  data-wow-delay="0.10s">Social Connect Zone</h2>
            <div class="row">
                <div class="col-sm-4">
                    <div class="socialCol btnHover1 white">
                        <span>
                            <div class="socialImg wow fadeInDown"  data-wow-delay="0.8s">
                                <img src="assets/imgs/shape2.svg" alt="shape">
                            </div>
                            <div class="socialCont wow fadeInDown"  data-wow-delay="0.9s">
                                <h2>Highlight the Post</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                    laoreet.
                                    Proin gravida dolor sit amet lacus <a href="javascript:void(0)"
                                        class="moew colorOrange">more</a></p>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="socialCol btnHover1 white">
                        <span>
                            <div class="socialImg wow fadeInDown"  data-wow-delay="0.8s">
                                <img src="assets/imgs/shape2.svg" alt="shape">
                            </div>
                            <div class="socialCont wow fadeInDown"  data-wow-delay="0.9s">
                                <h2>Highlight the Post</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                    laoreet.
                                    Proin gravida dolor sit amet lacus <a href="javascript:void(0)"
                                        class="moew colorOrange">more</a></p>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="socialCol btnHover1 white">
                        <span>
                            <div class="socialImg wow fadeInDown"  data-wow-delay="0.8s">
                                <img src="assets/imgs/shape2.svg" alt="shape">
                            </div>
                            <div class="socialCont wow fadeInDown"  data-wow-delay="0.9s">
                                <h2>Highlight the Post</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                    laoreet.
                                    Proin gravida dolor sit amet lacus <a href="javascript:void(0)"
                                        class="moew colorOrange">more</a></p>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="socialCol btnHover1 white">
                        <span>
                            <div class="socialImg wow fadeInDown"  data-wow-delay="0.8s">
                                <img src="assets/imgs/shape2.svg" alt="shape">
                            </div>
                            <div class="socialCont wow fadeInDown"  data-wow-delay="0.9s">
                                <h2>Highlight the Post</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                    laoreet.
                                    Proin gravida dolor sit amet lacus <a href="javascript:void(0)"
                                        class="moew colorOrange">more</a></p>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="socialCol btnHover1 white">
                        <span>
                            <div class="socialImg wow fadeInDown"  data-wow-delay="0.8s">
                                <img src="assets/imgs/shape2.svg" alt="shape">
                            </div>
                            <div class="socialCont wow fadeInDown"  data-wow-delay="0.9s">
                                <h2>Highlight the Post</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                    laoreet.
                                    Proin gravida dolor sit amet lacus <a href="javascript:void(0)"
                                        class="moew colorOrange">more</a></p>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="socialCol btnHover1 white">
                        <span>
                            <div class="socialImg wow fadeInDown"  data-wow-delay="0.8s">
                                <img src="assets/imgs/shape2.svg" alt="shape">
                            </div>
                            <div class="socialCont wow fadeInDown"  data-wow-delay="0.9s">
                                <h2>Highlight the Post</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                    laoreet.
                                    Proin gravida dolor sit amet lacus <a href="javascript:void(0)"
                                        class="moew colorOrange">more</a></p>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="winner">
    <div class="container">
        <div class="winnerIn">
            <h2 class="second  wow fadeInDown"  data-wow-delay="0.10s">Play Quiz and Win Rewards</h2>
            <div class="row">
                <div class="col-sm-3">
                    <div class="socialCol winnerCol">
                        <div class="socialImg  wow fadeInDown"  data-wow-delay="0.8s">
                            <img src="assets/imgs/shape2.svg" alt="shape">
                        </div>
                        <div class="socialCont">
                            <h2 class=" wow fadeInDown"  data-wow-delay="0.9s">Basic</h2>
                            <p class=" wow fadeInDown"  data-wow-delay="0.10s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus <a href="javascript:void(0)"
                                    class="moew colorOrange">more</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="socialCol winnerCol">
                        <div class="socialImg  wow fadeInDown"  data-wow-delay="0.8s">
                            <img src="assets/imgs/shape2.svg" alt="shape">
                        </div>
                        <div class="socialCont">
                            <h2 class=" wow fadeInDown"  data-wow-delay="0.9s">Basic</h2>
                            <p class=" wow fadeInDown"  data-wow-delay="0.10s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus <a href="javascript:void(0)"
                                    class="moew colorOrange">more</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="socialCol winnerCol">
                        <div class="socialImg  wow fadeInDown"  data-wow-delay="0.8s">
                            <img src="assets/imgs/shape2.svg" alt="shape">
                        </div>
                        <div class="socialCont">
                            <h2 class=" wow fadeInDown"  data-wow-delay="0.9s">Basic</h2>
                            <p class=" wow fadeInDown"  data-wow-delay="0.10s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus <a href="javascript:void(0)"
                                    class="moew colorOrange">more</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="socialCol winnerCol">
                        <div class="socialImg  wow fadeInDown"  data-wow-delay="0.8s">
                            <img src="assets/imgs/shape2.svg" alt="shape">
                        </div>
                        <div class="socialCont">
                            <h2 class=" wow fadeInDown"  data-wow-delay="0.9s">Basic</h2>
                            <p class=" wow fadeInDown"  data-wow-delay="0.10s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus <a href="javascript:void(0)"
                                    class="moew colorOrange">more</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="downBlow">

                <div class="sliderDown">
                    <h2 class="first wow fadeInDown"  data-wow-delay="0.10s">Download the<span class="androidani"><img src="assets/imgs/android.svg"
                                alt="android" class="android"></span>App Now</h2>

                                <div class="phonecode">
                                    <input type="text" class="flags" ng2TelInput />
                                    <input type="text" class="code" value="+1" readonly>
                                    <input type="text" class="form-control formControl" placeholder="Enter Mobile Number">
                                </div>
                    <div class="linkbtn">
                        <a href="javascript:void(0)" class ="hoverBtn wow fadeInDown"  data-wow-delay="0.8s">Get App Link</a>
                    </div>
                </div>

            </div>

            <div class="topgames">
                <h2 class="second wow fadeInDown"  data-wow-delay="0.10s">Play 10+ Games and Win Rewards <br>
                    Top games on BountyBunch</h2>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="topflex">
                            <div class="topImg wow fadeInDown"  data-wow-delay="0.8s" style="min-width: 122px;">
                                <img src="assets/imgs/shape2.svg" alt="shape">
                            </div>
                            <div class="socialCont topcontent">
                                <h2 class="wow fadeInDown"  data-wow-delay="0.9s">Logo</h2>
                                <p class="wow fadeInDown"  data-wow-delay="0.9s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="javascript:void(0)"
                                        class="moew colorOrange">more</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="topflex">
                            <div class="topImg wow fadeInDown"  data-wow-delay="0.8s" style="min-width: 122px;">
                                <img src="assets/imgs/shape2.svg" alt="shape">
                            </div>
                            <div class="socialCont topcontent">
                                <h2 class="wow fadeInDown"  data-wow-delay="0.9s">Logo</h2>
                                <p class="wow fadeInDown"  data-wow-delay="0.9s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="javascript:void(0)"
                                        class="moew colorOrange">more</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="topflex">
                            <div class="topImg wow fadeInDown"  data-wow-delay="0.8s" style="min-width: 122px;">
                                <img src="assets/imgs/shape2.svg" alt="shape">
                            </div>
                            <div class="socialCont topcontent">
                                <h2 class="wow fadeInDown"  data-wow-delay="0.9s">Logo</h2>
                                <p class="wow fadeInDown"  data-wow-delay="0.9s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="javascript:void(0)"
                                        class="moew colorOrange">more</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="topflex">
                            <div class="topImg wow fadeInDown"  data-wow-delay="0.8s" style="min-width: 122px;">
                                <img src="assets/imgs/shape2.svg" alt="shape">
                            </div>
                            <div class="socialCont topcontent">
                                <h2 class="wow fadeInDown"  data-wow-delay="0.9s">Logo</h2>
                                <p class="wow fadeInDown"  data-wow-delay="0.9s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="javascript:void(0)"
                                        class="moew colorOrange">more</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="topflex">
                            <div class="topImg wow fadeInDown"  data-wow-delay="0.8s" style="min-width: 122px;">
                                <img src="assets/imgs/shape2.svg" alt="shape">
                            </div>
                            <div class="socialCont topcontent">
                                <h2 class="wow fadeInDown"  data-wow-delay="0.9s">Logo</h2>
                                <p class="wow fadeInDown"  data-wow-delay="0.9s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="javascript:void(0)"
                                        class="moew colorOrange">more</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="topflex">
                            <div class="topImg wow fadeInDown"  data-wow-delay="0.8s" style="min-width: 122px;">
                                <img src="assets/imgs/shape2.svg" alt="shape">
                            </div>
                            <div class="socialCont topcontent">
                                <h2 class="wow fadeInDown"  data-wow-delay="0.9s">Logo</h2>
                                <p class="wow fadeInDown"  data-wow-delay="0.9s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="javascript:void(0)"
                                        class="moew colorOrange">more</a></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="welcomeSec">
    <div class="container">
        <div class="row" style="align-items: center;">
            <div class="col-sm-6">
                <div class="welcomeimg wow fadeInDown"  data-wow-delay="0.10s">
                    <img src="assets/imgs/mobile.svg" alt="mobile">
                </div>
            </div>
            <div class="col-sm-6">

                <div class="sliderDown welcomeRight">
                    <p class="wow fadeInDown"  data-wow-delay="0.8s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                        gravida dolor sit amet lacus accumsan et viverra Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et
                        viverra</p>
                    <h2 class="second wow fadeInDown"  data-wow-delay="0.9s">Download the<span class="androidani"><img src="assets/imgs/android.svg" alt="android"
                                class="android"></span>App Now</h2>

                           <div class="downBlow2">
                            <div class="phonecode">
                                <input type="text" class="flags" ng2TelInput />
                                <input type="text" class="code" value="+1" readonly>
                                <input type="text" class="form-control formControl" placeholder="Enter Mobile Number">
                            </div>
                           </div>
                    <div class="linkbtn wow fadeInDown"  data-wow-delay="0.8s">
                        <a href="javascript:void(0)" class ="hoverBtn">Get App Link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ratings">
    <h2 class="second wow fadeInDown"  data-wow-delay="0.10s">Rating and Review</h2>
    <div class="container">
        <div class="row wow fadeInLeft"  data-wow-delay="0.8s" style="padding-top: 100px;">
            <div class="col-sm-4">
                <div class="ratingInner">

                    <div class="reviewAll">
                        <div class="reviewImg">
                            <img src="assets/imgs/girl.svg" alt="girl">
                        </div>

                        <div class="reviewName">
                            <h3>Divya Goswami</h3>
                            <div class="cont">
                                <div class="stars">
                                    <ngx-star-rating [(ngModel)]="rating1" [id]="'rating1'"></ngx-star-rating>
                                </div>

                            </div>
                        </div>
                        <div class="reviewContent">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus accumsan et viverra Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
                                amet lacus accumsan et viverra</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="ratingInner">

                    <div class="reviewAll">
                        <div class="reviewImg">
                            <img src="assets/imgs/girl.svg" alt="girl">
                        </div>

                        <div class="reviewName">
                            <h3>Divya Goswami</h3>
                            <div class="cont">
                                <div class="stars">
                                    <ngx-star-rating [(ngModel)]="rating2" [id]="'rating2'"></ngx-star-rating>
                                </div>

                            </div>
                        </div>
                        <div class="reviewContent">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus accumsan et viverra Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
                                amet lacus accumsan et viverra</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="ratingInner">

                    <div class="reviewAll">
                        <div class="reviewImg">
                            <img src="assets/imgs/girl.svg" alt="girl">
                        </div>

                        <div class="reviewName">
                            <h3>Divya Goswami</h3>
                            <div class="cont">
                                <div class="stars">
                                    <ngx-star-rating [(ngModel)]="rating3" [id]="'rating3'"></ngx-star-rating>
                                </div>

                            </div>
                        </div>
                        <div class="reviewContent">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus accumsan et viverra Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
                                amet lacus accumsan et viverra</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<section class="membership">
    <div class="container">
        <div class="memberInner">
            <h2 class="second wow fadeInDown"  data-wow-delay="0.10s">Membership and Certification</h2>
            <div class="memberOwl">
                <!-- <owl-carousel-o [options]="customOptions3">
                    <ng-template carouselSlide>
                        <div class="memberImg">
                            <img src="assets/imgs/member1.svg" alt="member">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="memberImg">
                            <img src="assets/imgs/member2.svg" alt="member">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="memberImg">
                            <img src="assets/imgs/member3.svg" alt="member">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="memberImg">
                            <img src="assets/imgs/member4.svg" alt="member" class="width162">
                        </div>
                    </ng-template>

                    <ng-template carouselSlide>
                        <div class="memberImg">
                            <img src="assets/imgs/member1.svg" alt="member">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="memberImg">
                            <img src="assets/imgs/member2.svg" alt="member">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="memberImg">
                            <img src="assets/imgs/member3.svg" alt="member">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="memberImg">
                            <img src="assets/imgs/member4.svg" alt="member" class="width162">
                        </div>
                    </ng-template>

                </owl-carousel-o> -->
                <marquee behavior ="alternate" class="wow fadeInLeft"  data-wow-delay="0.10s">
                    <span>
                        <img src="assets/imgs/member1.svg" alt="member">
                    </span>
                    <span>
                        <img src="assets/imgs/member2.svg" alt="member">
                    </span>
                    <span>
                        <img src="assets/imgs/member3.svg" alt="member">
                    </span>
                    <span>
                        <img src="assets/imgs/member4.svg" alt="member">
                    </span>
                    <span>
                        <img src="assets/imgs/member1.svg" alt="member">
                    </span>
                    <span>
                        <img src="assets/imgs/member2.svg" alt="member">
                    </span>
                    <span>
                        <img src="assets/imgs/member3.svg" alt="member">
                    </span>
                    <span>
                        <img src="assets/imgs/member4.svg" alt="member">
                    </span>
                    <span>
                        <img src="assets/imgs/member1.svg" alt="member">
                    </span>
                    <span>
                        <img src="assets/imgs/member2.svg" alt="member">
                    </span>
                    <span>
                        <img src="assets/imgs/member3.svg" alt="member">
                    </span>
                    <span>
                        <img src="assets/imgs/member4.svg" alt="member">
                    </span>
                    <span>
                        <img src="assets/imgs/member1.svg" alt="member">
                    </span>
                    <span>
                        <img src="assets/imgs/member2.svg" alt="member">
                    </span>
                    <span>
                        <img src="assets/imgs/member3.svg" alt="member">
                    </span>
                    <span>
                        <img src="assets/imgs/member4.svg" alt="member">
                    </span>
                    <span>
                        <img src="assets/imgs/member1.svg" alt="member">
                    </span>
                    <span>
                        <img src="assets/imgs/member2.svg" alt="member">
                    </span>
                    <span>
                        <img src="assets/imgs/member3.svg" alt="member">
                    </span>
                    <span>
                        <img src="assets/imgs/member4.svg" alt="member">
                    </span>
                    <span>
                        <img src="assets/imgs/member1.svg" alt="member">
                    </span>
                    <span>
                        <img src="assets/imgs/member2.svg" alt="member">
                    </span>
                    <span>
                        <img src="assets/imgs/member3.svg" alt="member">
                    </span>
                    <span>
                        <img src="assets/imgs/member4.svg" alt="member">
                    </span>
                    <span>
                        <img src="assets/imgs/member1.svg" alt="member">
                    </span>
                    <span>
                        <img src="assets/imgs/member2.svg" alt="member">
                    </span>
                    <span>
                        <img src="assets/imgs/member3.svg" alt="member">
                    </span>
                    <span>
                        <img src="assets/imgs/member4.svg" alt="member">
                    </span>
                </marquee>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>