<app-header></app-header>
<section class="advertisment marginTop">
    <div class="container">
        <div class="row" style="align-items: center;flex-direction: row-reverse;">
            <div class="col-sm-6">
                <div class="advertisLeft wow fadeInRight"  data-wow-delay="0.9s">
                    <h2 class="first">BountyBunch FairPlay

                    </h2>
                    <p class="para">Play Mobile Games and Win Cash Daily!</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="adverstmentRight wow fadeInLeft"  data-wow-delay="0.9s">
                    <img src="assets/imgs/trust.svg" alt="grow" style="width: 85%;">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="conect2">
    <div class="container">
        <div class="connect2in">
            <h2 class="second wow fadeInDown"  data-wow-delay="0.9s">What Is Cheating</h2>
            <div class="row">
                <div class="col-sm-6">
                    <a class="connectdet btnHover1 white wow fadeInLeft"  data-wow-delay="0.9s" href="javascript:void(0)">
                <span>
                    <div class="mailimg">
                        <img src="assets/imgs/hack.svg" alt="hack">
                    </div>
                    <p>Hacking</p>
                    <h3>Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Aenean euismod
                        bibendum laoreet. </h3>
                </span>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a class="connectdet btnHover1 white wow fadeInRight"  data-wow-delay="0.9s" href="javascript:void(0)">
               <span>
                <div class="mailimg">
                    <img src="assets/imgs/multiple.svg" alt="email">
                </div>
                <p>Multiple Account</p>
                <h3>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Aenean euismod
                    bibendum laoreet. </h3>
               </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="offence">
    <div class="container">
        <div class="row wow fadeInLeft"  data-wow-delay="0.9s">
            <div class="col-sm-4">
                <div class="offienceInner">
                    <div class="offenImg">
                        <img src="assets/imgs/whistle.svg" alt="whistle">
                    </div>
                </div>
                <div class="offienceCon">
                    <h2>1st Offence</h2>
                    <p class="para">Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Aenean euismod
                        bibendum laoreet. </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="offienceInner">
                    <div class="offenImg">
                        <img src="assets/imgs/whistle.svg" alt="whistle">
                    </div>
                </div>
                <div class="offienceCon">
                    <h2>2nd Offence</h2>
                    <p class="para">Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Aenean euismod
                        bibendum laoreet. </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="offienceInner">
                    <div class="offenImg">
                        <img src="assets/imgs/whistle.svg" alt="whistle">
                    </div>
                </div>
                <div class="offienceCon">
                    <h2>3rd Offence</h2>
                    <p class="para">Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Aenean euismod
                        bibendum laoreet. </p>
                </div>
            </div>
        </div>
<div class="measurePara wow fadeInDown"  data-wow-delay="0.9s">
    <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
        gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis
        natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus
        pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
</div>
    </div>
</section>
<section class="whybb">
    <div class="container">
        <div class="whybbIn">
            <h2 class="second wow fadeInDown"  data-wow-delay="0.9s">Why BountyBunch</h2>
            <div class="row">
                <div class="col-sm-3">
                    <div class="bountyIn">
                        <div class="bountyImg wow fadeInDown"  data-wow-delay="0.8s">
                            <img src="assets/imgs/bounty.svg" alt="bounty">
                        </div>
                        <div class="bountyContent">
                            <h3 class="wow fadeInDown" data-wow-delay="0.9s">Learn</h3>
                            <p class="wow fadeInDown" data-wow-delay="0.10s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="bountyIn">
                        <div class="bountyImg wow fadeInDown"  data-wow-delay="0.8s">
                            <img src="assets/imgs/bounty.svg" alt="bounty">
                        </div>
                        <div class="bountyContent">
                            <h3 class="wow fadeInDown" data-wow-delay="0.9s">Learn</h3>
                            <p class="wow fadeInDown" data-wow-delay="0.10s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="bountyIn">
                        <div class="bountyImg wow fadeInDown"  data-wow-delay="0.8s">
                            <img src="assets/imgs/bounty.svg" alt="bounty">
                        </div>
                        <div class="bountyContent">
                            <h3 class="wow fadeInDown" data-wow-delay="0.9s">Learn</h3>
                            <p class="wow fadeInDown" data-wow-delay="0.10s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="bountyIn">
                        <div class="bountyImg wow fadeInDown"  data-wow-delay="0.8s">
                            <img src="assets/imgs/bounty.svg" alt="bounty">
                        </div>
                        <div class="bountyContent">
                            <h3 class="wow fadeInDown" data-wow-delay="0.9s">Learn</h3>
                            <p class="wow fadeInDown" data-wow-delay="0.10s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="bountyIn">
                        <div class="bountyImg wow fadeInDown"  data-wow-delay="0.8s">
                            <img src="assets/imgs/bounty.svg" alt="bounty">
                        </div>
                        <div class="bountyContent">
                            <h3 class="wow fadeInDown" data-wow-delay="0.9s">Learn</h3>
                            <p class="wow fadeInDown" data-wow-delay="0.10s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="bountyIn">
                        <div class="bountyImg wow fadeInDown"  data-wow-delay="0.8s">
                            <img src="assets/imgs/bounty.svg" alt="bounty">
                        </div>
                        <div class="bountyContent">
                            <h3 class="wow fadeInDown" data-wow-delay="0.9s">Learn</h3>
                            <p class="wow fadeInDown" data-wow-delay="0.10s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="bountyIn">
                        <div class="bountyImg wow fadeInDown"  data-wow-delay="0.8s">
                            <img src="assets/imgs/bounty.svg" alt="bounty">
                        </div>
                        <div class="bountyContent">
                            <h3 class="wow fadeInDown" data-wow-delay="0.9s">Learn</h3>
                            <p class="wow fadeInDown" data-wow-delay="0.10s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="bountyIn">
                        <div class="bountyImg wow fadeInDown"  data-wow-delay="0.8s">
                            <img src="assets/imgs/bounty.svg" alt="bounty">
                        </div>
                        <div class="bountyContent">
                            <h3 class="wow fadeInDown" data-wow-delay="0.9s">Learn</h3>
                            <p class="wow fadeInDown" data-wow-delay="0.10s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="measure">
    <div class="container">
        <div class="catagRight">
            <h2 class="second wow fadeInDown"  data-wow-delay="0.9s">BountyBunch Measures</h2>
            <div class="tab-content">

                <div class="collapsee">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in show" role="tabpanel"
                                aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                        euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                                        accumsan et viverra justo commodo. Proin sodales pulvinar sic
                                        tempor. Sociis natoque penatibus et magnis dis parturient montes,
                                        nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra
                                        vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc
                                        accuan eget.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                        euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                                        accumsan et viverra justo commodo. Proin sodales pulvinar sic
                                        tempor. Sociis natoque penatibus et magnis dis parturient montes,
                                        nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra
                                        vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc
                                        accuan eget.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                        euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                                        accumsan et viverra justo commodo. Proin sodales pulvinar sic
                                        tempor. Sociis natoque penatibus et magnis dis parturient montes,
                                        nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra
                                        vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc
                                        accuan eget.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                                        aria-expanded="true" aria-controls="collapseTwo">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                        euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                                        accumsan et viverra justo commodo. Proin sodales pulvinar sic
                                        tempor. Sociis natoque penatibus et magnis dis parturient montes,
                                        nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra
                                        vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc
                                        accuan eget.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                        euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                                        accumsan et viverra justo commodo. Proin sodales pulvinar sic
                                        tempor. Sociis natoque penatibus et magnis dis parturient montes,
                                        nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra
                                        vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc
                                        accuan eget.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                        euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                                        accumsan et viverra justo commodo. Proin sodales pulvinar sic
                                        tempor. Sociis natoque penatibus et magnis dis parturient montes,
                                        nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra
                                        vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc
                                        accuan eget.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                                        aria-expanded="true" aria-controls="collapseThree">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseThree" class="panel-collapse collapse " role="tabpanel"
                                aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                        euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                                        accumsan et viverra justo commodo. Proin sodales pulvinar sic
                                        tempor. Sociis natoque penatibus et magnis dis parturient montes,
                                        nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra
                                        vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc
                                        accuan eget.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                        euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                                        accumsan et viverra justo commodo. Proin sodales pulvinar sic
                                        tempor. Sociis natoque penatibus et magnis dis parturient montes,
                                        nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra
                                        vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc
                                        accuan eget.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                        euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                                        accumsan et viverra justo commodo. Proin sodales pulvinar sic
                                        tempor. Sociis natoque penatibus et magnis dis parturient montes,
                                        nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra
                                        vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc
                                        accuan eget.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
                                        aria-expanded="true" aria-controls="collapseFour">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseFour" class="panel-collapse collapse " role="tabpanel"
                                aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                        euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                                        accumsan et viverra justo commodo. Proin sodales pulvinar sic
                                        tempor. Sociis natoque penatibus et magnis dis parturient montes,
                                        nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra
                                        vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc
                                        accuan eget.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                        euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                                        accumsan et viverra justo commodo. Proin sodales pulvinar sic
                                        tempor. Sociis natoque penatibus et magnis dis parturient montes,
                                        nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra
                                        vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc
                                        accuan eget.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                        euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                                        accumsan et viverra justo commodo. Proin sodales pulvinar sic
                                        tempor. Sociis natoque penatibus et magnis dis parturient montes,
                                        nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra
                                        vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc
                                        accuan eget.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</section>


<app-footer></app-footer>